<div class="container">

  <!--<mat-tab-group [backgroundColor]="background" mat-align-tabs="center">
    <mat-tab label="Situazione treni">
      <app-situazione-treni></app-situazione-treni>
    </mat-tab>
    <mat-tab label="Il tuo arrivo">
      <app-situazione-arrivi></app-situazione-arrivi>
    </mat-tab>
  </mat-tab-group>

</div>
-->
<app-situazione-treni></app-situazione-treni>
<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->
